<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShipDangerManagementSystem.Properties.Settings.ShipConnectionString"
            connectionString="Data Source=DESKTOP-VF531U3\SA;Initial Catalog=Ship;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>